root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
charset = utf-8
configure_await_analysis_mode = library

[*.cs]
indent_size = 4

[*.csproj]
indent_size = 2