# .NET Core
language: csharp
mono: none
dotnet: 5.0.0
solution: OpenWorker.sln

# OS environment
dist: focal

# Build matrix (OS, compiler)
matrix:
  include:
    - name: "Linux"
      os: linux
    - name: "MacOS"
      os: osx
      osx_image: xcode12.2

# Build scripts
script:
  - mv ow.Framework\config\commonsettings.example.json ow.Framework\config\commonsettings.json
  - mv ow.Framework\config\appsettings.Development.example.json ow.Framework\config\appsettings.Development.json

  - mv ow.Framework.Tests\config\appsettings.example.json ow.Framework.Tests\config\appsettings.json

  - mv ow.Service.District\config\appsettings.example.json ow.Service.District\config\appsettings.json

  - mv ow.Service.Gate\config\appsettings.example.json ow.Service.Gate\config\appsettings.json

  - mv ow.Utils.GenerateItemsForView\config\appsettings.example.json ow.Utils.GenerateItemsForView\config\appsettings.json

  - dotnet restore
  - dotnet build
